# Исключить скомпилированные объекты
*.o

# Исключить скомпилированные приложения
*.app

# Исключить файлы проекта Qt Creator, которые генерируются автоматически
*.pro.user

# Исключить Makefile, если он генерируется автоматически
Makefile

